<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence/
								 https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
		 	 version="3.0">

	<persistence-unit name="MYSQL">
		<jta-data-source>java:/MysqlDS</jta-data-source>
		
		<class>com.github.lorenzosmc.projectmanager.common.model.BaseEntity</class>
		<class>com.github.lorenzosmc.model.User</class>
		<exclude-unlisted-classes>true</exclude-unlisted-classes>

		<properties>
			<!-- translate Jakarta Bean Validation to DDL -->
			<property name="hibernate.validator.apply_to_ddl" value = "true"/>	
		
			<property name="hibernate.show_sql" value="true"/>
			<property name="hibernate.hbm2ddl.auto" value="create-drop"/>	
			<property name="hibernate.format_sql" value="true"/>
			<property name="hibernate.use_sql_comments" value="true"/>

			<property name="hibernate.default_batch_fetch_size" value="16"/>
			<property name="hibernate.jdbc.batch_size" value="100"/>
			<property name="hibernate.order_inserts" value="true"/>
			<property name="hibernate.order_updates" value="true"/>
			<property name="hibernate.id.new_generator_mappings" value="true"/>		</properties>
	</persistence-unit>

</persistence>
